@page
@model NoPoorAfrica.Pages.Store.Cart.IndexModel
@{
}

<form method="post">

    <br />

    @if (Model.OrderDetailsCart.ListCart.Count > 0)
    {

        <input asp-for="@Model.OrderDetailsCart.ListCart[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">

                    <div class="card-header bg-dark text-light font-weight-bold ml-0 row container center-screen">
                        <div class=" center-screen">

                            Shopping Cart Summary
                        </div>

                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.OrderDetailsCart.ListCart)
                        {
                            <div class="row flex-nowrap">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.StoreItem.Image" class="rounded" width="120" height="80" />
                                </div>
                                <div class="col">
                                    <h4><strong>@item.StoreItem.Name</strong></h4>
                                    @*<span class="badge badge-warning h3">Purchase Date: @DateTime.Now.ToString("MM/dd")</span>*@
                                </div>

                                <div>


                                </div>
                                <div class="col text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><strong>$@item.StoreItem.Price.ToString("0.00") <span class="text-muted">x</span> @item.Count </strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-primary" asp-page-handler="plus" asp-route-cartId="@item.Id">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-danger" asp-page-handler="minus" asp-route-cartId="@item.Id">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-outline-danger" asp-page-handler="remove" asp-route-cartId="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }

                        <div class="center-screen">

                            <div class="row border border-dark rounded m-2 p-2 bg-warning">
                                <div>
                                    <span class="text-dark"><strong>SubTotal &nbsp;</strong> </span>
                                </div>
                                <div>
                                    <strong class="text-dark">$<span id="txtOrderTotal">@Model.OrderDetailsCart.OrderHeader.OrderTotal.ToString("0.00")</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <a asp-page="../Home/Index" class="btn btn-dark">Continue Shopping</a>
                            </div>
                            <div class="col-5"></div>
                            <div class="col-3">
                                <a asp-page="Summary" class="btn btn-primary form-control">Continue to Checkout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <h2 class="center-screen m-3 p-3"> Your cart is empty </h2>
        </div>
    }
</form>