@page
@model NoPoorAfrica.Pages.Donation.IndexModel
@{
}

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-10 col-sm-offset-1">
    <div class="title-teaser">Make A Difference Today!! Join our community of world-changers! Choose a community to support and experience the impact of your generosity.<br></div>
</div>
@if (Model.DonationCauseList.Where(c => c.IsFeatured == true).Count() > 0)
{
    <div class="row container pb-3 border border-dark rounded" style="margin-bottom:50px">
        <div class="col-12">
            <div class="row">
                <h2 class="text-info text-black-50 pl-1"><b>Featured</b></h2>
                <div class="col-12">
				    <div class="row my-3">
					    @foreach (var donationCause in Model.DonationCauseList)
						{
						    @if (donationCause.IsActive == true && donationCause.IsFeatured == true)
							{
					            <div class="">
						            <form method="post">
							            <div class="container backgroundWhite">
								            <div class="card">
									            <div class="card-header bg-light text-light ml-0 row container">
												    <div class="col-12 col-md-6">
													    <a asp-page="Details" class="btn btn-warning text-info font-weight-bold text-black-50 text-lg-left border-warning btn-lg" style="border-radius:2px;" asp-route-id="@donationCause.Id">@donationCause.Title</a>
												    </div>
										            <div class="col-12 col-md-6 text-md-right">
											            <h1 class="text-muted">@(donationCause.GoalProgress.ToString("c")) / @((donationCause.FundingGoal).ToString("c"))</h1>
										            </div>
									            </div>
									            <div class="card-body">
										            <div class="container rounded p-2">
											            <div class="row">
												            <div class="col-12 col-lg-8">
													            <div class="row">
														            <div class="col-12">
															            <span class="badge badge-warning h3">@donationCause.Country</span>
															            <h3 class="text-success"></h3>
															            <p class="text-secondary">@Html.Raw(donationCause.Description)</p>


															            <p class="text-dark"> Start Date @donationCause.FromDate.ToString("MM/dd/yyyy")   <br /> End Date @donationCause.ToDate.ToString("MM/dd/yyyy")</p>
														            </div>
													            </div>
												            </div>
												            <div class="col-12 col-lg-4 p-1 text-center">
													            <img src="@donationCause.Image" style="width:100%" class="rounded" />
												            </div>
											            </div>
										            </div>
									            </div>
								            </div>
							            </div>
						            </form>
					            </div>
							}

						}
				    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div class="row">

        @foreach (var donationCause in Model.DonationCauseList)
        {
            @if (donationCause.IsActive == true && donationCause.IsFeatured == false)
            {
            <div class="col-lg-3 col-xl-3 col-md-6 pb-4">
                <div class="card" style="border:2px solid #008cba; border-radius: 5px; ">
                    <div class="pl-3 pt-1 text-center">
                        <h3 class="card-title text-primary"><b>@donationCause.Title</b></h3>
                    </div>
                    <div class="d-flex justify-content-between form-control" style="border:0px;">
                        <div class="col-10 badge badge-success text-center" style="font-size:14px;">
                            Funding Goal @donationCause.FundingGoal.ToString("c")
                        </div>
                        
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width:100%" aria-valuemin="0" aria-valuemax="100">Raised @donationCause.GoalProgress.ToString("c")</div>
                    </div>
                    <img src="@donationCause.Image" class="card-img-top p-2 rounded" />

                    <a asp-page="Details" class="btn btn-primary" style="border-radius:2px;" asp-route-id="@donationCause.Id">Details</a>

                </div>
            </div>
            }
          
            }

    </div>


    <style>
        .title-teaser {
            text-align: center;
            font-weight: 500;
            line-height: normal;
            color: #006699;
            padding-bottom: 5px;
            border-bottom: 0px dotted #CCC;
            margin-bottom: 40px;
            font-size: 1.3em;
            width: 100%;
            overflow: visible;
        }

        .sponsor-title {
            font-size: 36px;
            text-align: center;
            text-transform: uppercase;
            color: #425563;
            margin-bottom: 0px;
            border: none;
            font-weight: 400;
            line-height: 38px;
        }
    </style>
