@page
@model NoPoorAfrica.Pages.Admin.DonationCause.UpsertModel
@{
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<div class="container">
		<div class="row px-2 mx-2 backgroundWhite border">
			<div asp-validation-summary="ModelOnly" class="text-danger">
			</div>
			<div class="col-12 px-3" style="border-bottom:1px solid #325d88">
				<h2 class="text-info text-black-50">@(Model.DonationCauseObj.DonationCause.Id !=0 ? "Update" : "Create") Donation Cause</h2>
			</div>

			<div class="col-8 pt-3">
				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.Title"></label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="DonationCauseObj.DonationCause.Title" />
						<span class="text-danger" asp-validation-for="DonationCauseObj.DonationCause.Title"></span>
					</div>
					@if (Model.DonationCauseObj.DonationCause.Id != 0)
					{
						<input type="hidden" asp-for="DonationCauseObj.DonationCause.Id" />
					}
				</div>
				<div class="form-group row">
					<div class="col-3">
						<label>Funding Goal</label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="DonationCauseObj.DonationCause.FundingGoal" />
						<span class="text-danger" asp-validation-for="DonationCauseObj.DonationCause.FundingGoal"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.Country"></label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="DonationCauseObj.DonationCause.Country" />
						<span class="text-danger" asp-validation-for="DonationCauseObj.DonationCause.Country"></span>
					</div>
				</div>
				<div class="row my-1">
					<div class="col-3">
						<label>Start Date</label>
					</div>
					<div class="col-9">
						<input id="datepicker" value="" asp-for="@Model.DonationCauseObj.DonationCause.FromDate" class="form-control" />
					</div>
				</div>
				<div class="row my-1">
					<div class="col-3">
						<label>End Date</label>
					</div>
					<div class="col-9">
						<input id="datepicker2" value="" asp-for="@Model.DonationCauseObj.DonationCause.ToDate" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.DonationCauseCategoryId"></label>
					</div>
					<div class="col-9">
						@Html.DropDownListFor(m => m.DonationCauseObj.DonationCause.DonationCauseCategoryId,
												Model.DonationCauseObj.DonationCauseCategoryList,
												"- Please select a Category - ",
												new { @class = "form-control" })
						<span class="text-danger" asp-validation-for="DonationCauseObj.DonationCause.DonationCauseCategoryId"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.Description"></label>
					</div>
					<div class="col-9">
						<textarea class="form-control" asp-for="DonationCauseObj.DonationCause.Description" id="txtDesc" style="height:200px"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.Image"></label>
					</div>
					<div class="col-9">
						<input type="file" class="form-control" id="uploadBox" name="files" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.IsActive"></label>
					</div>
					<div class="col-9">
						<input class="form-check-input" asp-for="DonationCauseObj.DonationCause.IsActive" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-3">
						<label asp-for="DonationCauseObj.DonationCause.IsFeatured"></label>
					</div>
					<div class="col-9">
						<input class="form-check-input" asp-for="DonationCauseObj.DonationCause.IsFeatured" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9 offset-3">
						<div class="row">
							<div class="col-6">
								@if (Model.DonationCauseObj.DonationCause.Id != 0)
								{
									<button type="submit" class="btn btn-warning form-control">Update</button>
								}
								else
								{
									<button type="submit" class="btn btn-warning form-control" onclick="return ValidateInput()">Create</button>
								}
							</div>
							<div class="col-6">
								<a asp-page="./Index" class="btn border-warning form-control">Back to List</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			@if (Model.DonationCauseObj != null)
			{
				<div class="col-4 p-4">
					<img src="@Model.DonationCauseObj.DonationCause.Image" style="border-radius:5px; width:100%; border: 1px solid #bbb9b9" />
				</div>
			}
		</div>
	</div>
</form>

@section Scripts {
	<script>

		tinymce.init({
			selector: 'textarea',
			plugins: "lists",
			menubar: 'file edit format'
		});

		function ValidateInput() {
			if (document.getElementById("uploadBox").value == "") {
				swal('Error', 'Please Select an Image', 'error')
				return false;
			}
			return true;
		}

		$(function () {
			$("#datepicker").datepicker();
		});


		function validateInput() {
			var dt = document.getElementById("datepicker").value;
			if (dt.toString() == '') {
				swal("Error", "Please select Delivery Date", "error");
				return false;
			}
			return true;
		}

		$(function () {
			$("#datepicker2").datepicker();
		});


		function validateInput() {
			var dt = document.getElementById("datepicker2").value;
			if (dt.toString() == '') {
				swal("Error", "Please select Delivery Date", "error");
				return false;
			}
			return true;
		}
	</script>
}
