@page
@model NoPoorAfrica.Pages.User.Store.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div>
    <h1 class="display-4 text-warning rounded m-2 p-2 center-screen">Store</h1>
</div>

<div>
    <h5 class="font-italic center-screen">Our products are 100% designed and sewn in Mozambique by women who have gone through the sewing courses.</h5>
</div>

<div class="row">

    <div class="col-6">
        <img class="storeHeaderImage rounded border border-dark" src="~/Images/Argentina-Sewing-.jpg" />
    </div>

    <div class="col-6">
        <img class="storeHeaderImage center-screen rounded border border-dark" src="~/Images/sewing.png" />
    </div>

</div>

<div>
    <div>&nbsp;</div>
</div>



<table class="table center-screen">
    <thead>
        <tr>
            <th>
                <form asp-page="./Index" method="get">
                    Search:
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" value="Search" class="btn btn-dark" /> |
                    <a class="text-dark" asp-page="./Index">Clear</a>
                </form>
            </th>
            <th>
                &nbsp;&nbsp;
            </th>
            <th class="mb-3 pb-4">
                Sort by:&nbsp;&nbsp;
                <a class="text-dark" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @*@Html.DisplayNameFor(model => model.StoreItem[0].Name)*@ Product &nbsp;
                </a>
                |
                <a class="text-dark" asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                    @*@Html.DisplayNameFor(model => model.StoreItem[0].Category.Name)*@ &nbsp; Category &nbsp;
                </a>
                |
                <a class="text-dark" asp-page="./Index" asp-route-sortOrder="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                   &nbsp; @Html.DisplayNameFor(model => model.StoreItem[0].Price)
                </a>
            </th>
            <th>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                @{
                    var prevDisabled = !Model.StoreItem.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.StoreItem.HasNextPage ? "disabled" : "";
                }

                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.StoreItem.PageIndex - 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-dark @prevDisabled">
                    Previous
                </a>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.StoreItem.PageIndex + 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-dark @nextDisabled">
                    Next
                </a>
            </th>
        </tr>
    </thead>
</table>
<div class="row container pb-3 c">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="row my-3">
                    @foreach (var item in Model.StoreItem)
                    {
                        <div class="col-lg-3 col-xl-3 col-md-6 pb-4 ">
                            <div class="card" style="border:2px solid #0F0F0F; border-radius: 5px;">
                                <div class="pl-3 pt-1 text-center">
                                    <h3 class="card-title text-dark"><b>@item.Name</b></h3>
                                </div>

                                <img src="@item.Image" class="card-img-top p-2 rounded storeHomePageImage" />

                                <div class="badge center-screen" style="border:0px;">
                                    <div class="h5 rounded" style="color:dark;"><b>$@item.Price.ToString("0.00")</b></div>
                                </div>
                                <div>
                                    @if (item.Inventory > 0)
                                    {
                                    <h6>@item.Inventory.ToString() in stock</h6>
                                    }
                                    else
                                    {
                                        <h6>Out of stock, check back soon</h6>
                                    }
                                </div>

                                <a asp-page="Details" class="btn btn-dark" style="border-radius:2px;" asp-route-id="@item.Id">More Info</a>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>