@page
@model NoPoorAfrica.Pages.Articles.IndexModel
@{
    ViewData["Title"] = "Recent Articles";
}

@using System.Net
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    @if (Model.DetailedView == false)
    {
        <div class="row">
            <h1>News Articles</h1>
        </div><br />
        <!--for each article provided by controller, add a row here containing an article with a "read more"-->
        @foreach (NoPoorAfrica.Models.Models.Article article in Model.ArticlesList.Articles)
        {
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <h2>@article.Title</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 ellips">
                            @Html.Raw(@WebUtility.HtmlDecode(article.Body))
                        </div>
                    </div>
                    <div class="row">
                        <a asp-page="/Articles/Index" asp-route-id="@article.RouteName">Read more</a> <!--temp href-->
                    </div>
                </div>
            </div>
            <hr />
            <br />
        }
    }
    else
    {
        switch (Model.DetailedArticle.Template)
        {
            default:
            case "template_1":
                <div class="container">
                    <div class="row">
                        <h1>@Model.DetailedArticle.Title</h1>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-11 offset-1">
                            <div class="fotorama">
                                @foreach (NoPoorAfrica.Models.Models.ArticleFiles file in Model.ImageGallery)
                                {
                                    <img src="@file.FilePath" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="article-body col-11 offset-1">
                            @Html.Raw(@WebUtility.HtmlDecode(Model.DetailedArticle.Body))
                        </div>
                    </div>
                    </div>
                break;

            case "template_2":
                <div></div>
                break;

            case "template_3:":
                <div></div>
                break;
        }
    }
    <!-- paginate at the bottom to view more articles? -->
</div>

@section Scripts{ 
    <script>
        $('.fotorama').fotorama({
            width: 700,
            maxwidth: '100%',
            maxheight: 768,
            allowfullscreen: true,
            nav: 'thumbs'
        });
    </script>
}